table{
    width: 100%;
}

.tela_princ{
    padding: 50px 80px;
}

.va{
    background-color: rgb(91, 255, 113);
}

.qv{
    background-color: rgb(255, 255, 112);
}

.ve{
    background-color: rgb(247, 81, 81);
}

.divisor{
    height: 10px;
}

.campos{
    display: flex;
    flex-grow: grow;
    column-gap: 5px;
    padding-bottom: 5px;
}
